<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Libros Web</title>
    </head>
    <body>
        <h1>Libros Web</h1>
        <p> selecciona una letra a mostrar</p>
        <div>
            {% for letter in 'ABCDEFGHIJKLMNÑOPQRSTUVWXYZ' %}
                <a href="/letra/{{ letter }}">{{ letter }}</a>
                {% if not loop.last %} | {% endif %}
            {% endfor %}
        </div>
        <div>
            <ul>
            {% for libro in lista_libros %}
                <li><a href="/libro/{{libro.id}}" ></a>{{ libro.title}} - {{libro.author}}/ <li>
            {% endfor %}
            </ul>
        </div>

        <ul>
            <li><a href="/titulo">Busqueda por titulo</a></li>
            <li><a href="/autor">Busqueda por autor</a></li>
            <li><a href="/letra">Busqueda por letra</a></li>
        </ul>
    </body>
</html>
